.col-xs-6
  = simple_form_for [project, membership] do |form|
    = form.label 'Project'
    = project.title
    = form.association :user, collection: project.users_available_to_invite

    = form.submit 'Add member', class: 'btn btn-primary'