.col-xs-5

  %h2 Sign up
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.error_notification
    .form-inputs
      = f.input :first_name, autofocus: true
      = f.input :last_name
      = f.select :position, User::POSITIONS
      = f.input :email, required: true
      = f.input :password, required: true
      = f.input :password_confirmation, required: true
    .form-actions
      = f.button :submit, "Sign up"
  = render "devise/shared/links"