.panel.panel-default
  .panel-heading
    %span Added by: 
    = link_to comment.user, user_path(comment.user)
    = "#{time_ago_in_words(comment.created_at)} ago"

    %p.pull-right
      = "#{comment.likes.count} likes"
      - if comment.can_like?(current_user)
        = link_to "+", project_issue_comment_likes_path(project, issue, comment), method: :post 
      - else
        = "+"
  
  .panel-body
    %p
      = comment.body