.col-xs-6
  = simple_form_for [project, issue, Comment.new] do |form|
    = form.input :body, label: false, as: :text, input_html: { cols: 50, rows: 10 }
    = form.submit 'Add comment', class: 'btn btn-primary'