.col-xs-6
  = simple_form_for [project, issue] do |form|
    = form.input :subject
    = form.input :description
    %p
      = form.input :priority, collection: Issue::PRIORITIES
    %p
      = form.input :type, collection: Issue::TYPES

    = form.submit class: 'btn btn-primary'