.panel.panel-default
  .panel-heading
    = issue.subject
  .panel-body
    %p
      = issue.description
    %p
      %strong Priority:
      = issue.priority
    %p
      %strong Type:
      = issue.type
    %p
      = simple_form_for [project, issue] do |form|
        %strong State:
        = issue.state
        = form.select :state, ["open", "fixed"]
        = form.submit 'change', class: "btn btn-default btn-xs"
    %p
      %strong Assignee:
      = show_assignee(issue.assignee)
      = link_to 'Assign to me', assign_user_project_issue_path(issue.project, issue), class: "btn btn-default btn-xs", method: :put

%h4 Comments:
= render issue.comments
%button{type: "button", class: 'btn btn-default btn-sm', id: 'newComment'} New comment

%p
  #commentForm.hidden
    = render 'comments/form'