.col-xs-6
  = simple_form_for [project, topic] do |form|
    .row
      = form.input :title
      = form.simple_fields_for :posts, post do |post|
        = post.input :body, as: :text, input_html: { cols: 50, rows: 10 }
        = post.hidden_field :user_id, value: current_user.id
      = form.submit class: 'btn btn-primary'