%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Email
      %th Position
      %th Projects
      %th Issues
  %tbody
    - users.each do |user|
      %tr
        %td= link_to user.full_name, user_path(user)
        %td= user.email
        %td= user.position
        %td= user.projects_member.count
        - if user.issues_assigned.count == 0
          %td{style: "color: red;"}= user.issues_assigned.count
        - else
          %td= user.issues_assigned.count
