.panel.panel-default
  .panel-heading
    = user
  .panel-body
    %p
      %strong Email:
      = mail_to user.email
    %p
      %strong Registered on:
      = show_time(user.created_at)
    %p
      %strong Last connection:
      = show_time(user.last_sign_in_at)

    %br
    %h4 Projects
    - user.projects_member.each do |project|
      %p
        = link_to project.title, project

    %br
    %h4 Activity
    = "Reported issues: #{user.issues.count}"