.col-xs-6
  = simple_form_for project do |form|
    = form.input :title
    = form.input :description ,as: :text, input_html: { cols: 50, rows: 10 }
    = form.input :homepage

    = form.submit class: 'btn btn-primary'