.panel.panel-default
  .panel-heading Overview
  .panel-body
    %p
      %strong Homepage:
      = show_homepage(project.homepage)
    %p
      %strong Issues:
      %ul
        %li= "#{project.issues.open.count} open"
        %li= "#{project.issues.fixed.count} fixed"
        %li= "#{project.issues.count} total"
    %p
      %strong Members:
      = pluralize("#{project.members.count}", 'member')
      
      - if project.user == current_user
        =link_to 'Add member', new_project_membership_path(project), class: 'btn btn-default btn-xs'