.col-lg-12
  = link_to 'New Project', new_project_path, class: 'btn btn-primary pull-right'
  .bs-component
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Title
          %th Members
          %th Created
      %tbody
        - projects.each do |project|
          %tr
            %td= link_to project.title, project
            %td= project.members.count
            %td= project.created_at.strftime("%B %d, %Y")