%h3= project.title

.row
  .col-lg-12
    .bs-component
      %ul.nav.nav-tabs{style: "margin-bottom: 15px;"}
        %li.active
          %a{"data-toggle" => "tab", href: "#home"} Overview
        %li
          %a{"data-toggle" => "tab", href: "#issues"} Issues
        %li
          %a{"data-toggle" => "tab", href: "#members"} Members
        %li
          %a{"data-toggle" => "tab", href: "#discussions"} Discussions
  
      #myTabContent.tab-content

        #home.tab-pane.fade.active.in
          %p= render 'overview'

        #issues.tab-pane.fade
          .row
            .col-lg-12

              %button{type: "button", class: 'btn btn-default btn-sm', id: 'assigned-to-me'} Show assigned to me

              - if project.member?(current_user)
                = link_to 'Add issue', new_project_issue_path(project), class: 'btn btn-primary btn-sm'

              .bs-component
                %table.table.table-striped.table-hover
                  %thead
                    %tr
                      %th Subject
                      %th Priority
                      %th Type
                      %th State
                      %th Assignee
                  %tbody.hidden#mine
                    = render project.issues.mine(current_user)
                  %tbody#all
                    = render project.issues

        #members.tab-pane.fade
          .row
            .col-lg-12

              - if project.user == current_user
                = link_to 'Add member', new_project_membership_path(project), class: 'btn btn-default btn-sm'
              
              .bs-component
                %table.table.table-striped.table-hover
                  %thead
                    %tr
                      %th Name
                      %th Email
                      %th Position
                  %tbody
                    - project.members.each do |member|
                      %tr
                        %td= member.full_name
                        %td= member.email
                        %td= member.position
        

        #discussions.tab-pane.fade
          - if project.member?(current_user)
            = link_to 'Add topic', new_project_topic_path(project), class: 'btn btn-default btn-sm'

          %table.table.table-striped.table-hover
            %thead
              %tr
                %th Topic
                %th Posts
            %tbody
              = render project.topics