.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand{href: "../"} issue_tracker
      %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar-main.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'Projects', projects_path
        %li
          = link_to 'Users', users_path
      %ul.nav.navbar-nav.navbar-right
        -if user_signed_in?
          %li
            = link_to current_user, user_path(current_user)
          %li
            = link_to 'Log out', destroy_user_session_path, method: :delete
        - else
          %li
            = link_to 'Sign in', new_user_session_path
          %li
            = link_to 'Sign up',  new_user_registration_path